{% extends "main-layout.html" %}
{% block title %}Админ панель{% endblock %}
{% block content %}
<section class="admin">
  <div class="list list_orders">
    <table>
      <thead>
        <th>Id</th>
        <th>User</th>
        <th>Items</th>
        <th>Date</th>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{order['id']}}</td>
          <td>{{order['user']['lastName']}} {{order['user']['name']}}</td>
          <td>{{order['items_list']}}</td>
          <td>{{order['date']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="list list_users">
    <table>
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Phone</th>
        <th>Mail</th>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user['id']}}</td>
          <td>{{user['name']}}</td>
          <td>{{user['lastName']}}</td>
          <td>{{user['number']}}</td>
          <td>{{user['mail']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br><br><hr><br><br>
  <div class="adds">

    <div class="add add_section">
      <h1>Раздел</h1>
      <form action="/admin/addSection" method="post">
        <label>
          Name
          <br><input type="text" name="name" autocomplete="new_name" placeholder="Name" required>
        </label>
        <label>
          Раздел
          <br><select name="section_id" required>
            <option value="0">--Please choose section--</option>
            <option value="{{ sections[0].id }}">{{ sections[0].name }}</option>
            <option value="{{ sections[1].id }}">{{ sections[1].name }}</option>
            <option value="{{ sections[2].id }}">{{ sections[2].name }}</option>
            <option value="{{ sections[3].id }}">{{ sections[3].name }}</option>
            <option value="{{ sections[4].id }}">{{ sections[4].name }}</option>
          </select>
        </label>
        <input type="submit" value="Добавить">
      </form>
    </div>

    <div class="add add_items">
      <h1>Товар</h1>
      <form action="/admin/addItems" method="post">
        <label>
          Name*
          <br><input type="text" name="name" autocomplete="new_name" placeholder="Name" required>
        </label>
        <label>
          Image*
          <br><input type="url" name="image" autocomplete="new_Image" placeholder="Image url" required>
        </label>
        <label>
          Count
          <br><input type="text" name="count" autocomplete="new_count" placeholder="Count">
        </label>
        <label>
          Coast*
          <br><input type="text" name="coast" autocomplete="new_coast" placeholder="Coast" required>
        </label>
        <label>
          Description*
          <br><input type="text" name="description" autocomplete="new_description" placeholder="Description" required>
        </label>
        <label>
          Section*
          <br><select name="section_id">
            {% for super in superSections %}
            <option value="0" disabled>{{ sections[loop.index0].name }}</option>
              {% for sectinon in super %}
              <option value="{{sectinon.id}}">{{sectinon.name}}</option>
              {% endfor %}
            </div>
            {% endfor %}
          </select>
        </label>
        <input type="submit" value="Добавить">
      </form>
    </div>
  
  </div>
</section>
{% endblock %}