{% extends "main-layout.html" %}
{% block title %}Корзина{% endblock %}
{% block content %}
<section class="cart">
  <div class="top">
    <h1>Корзина</h1>
  </div>
  <div class="content">
    <div class="left">
      <div class="items">
        {% for item in products[:-1] %}
        <div class="item">
          <div class="img"><img src="{{item.image}}"></div>
          <span class="item_title"><b>{{item.name}}</b> {{item.description}}</span>
          <span class="item_coast"><b>{{item.coast}} руб.</b></span>
          <span class="item_remove">Убрать из корзины</span>
        </div>
        {% endfor %}
        <div class="item last">
          <div class="img"><img src="{{products[-1].image}}"></div>
          <span class="item_title"><b>{{products[-1].name}}</b> {{products[-1].description}}</span>
          <span class="item_coast"><b>{{products[-1].coast}} руб.</b></span>
          <span class="item_remove">Убрать из корзины</span>
        </div>
      </div>
      <div class="outInf">
        <div class="coast">Итого: <b>{{fullPrice}} руб.</b></div>
      </div>
    </div>
    <div class="right">
      <div class="order">
        <h2>Оформить заказ</h2>
        <form action="/">
          <label>
            Адресс доставки:
            <br><input type="text" name="adres" placeholder="Адресс доставки:" autocomplete="new-adres">
          </label>
          <input type="submit" value="Заказать">
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}