{% extends "main-layout.html" %}
{% block title %}Заказ №{% endblock %}
{% block content %}
<section class="order">
  <div class="content">
    <h1>Заказ №{{order['id']}}</h1>
    <div class="info">
      <span class="info_fio">{{order['user']['lastName']}} {{order['user']['name']}}</span>
      <span class="info_phone">Телефон: +{{order['user']['number']}}</span>
      <span class="info_adres">Адрес: {{order['addres']}}</span>
      <span class="info_mail">Почта: {{order['user']['mail']}}</span>
      <span class="info_date">Дата заказа: {{order['date']}}</span>
      <span class="info_coast">Сумма заказа: {{order['fullPrice']}} руб.</span>
    </div>
  </div>
</section>
{% endblock %}