{% extends "main-layout.html" %}
{% block title %}Заказ №{% endblock %}
{% block content %}
<section class="order">
  <div class="content">
    <h1>Заказ №0</h1>
    <div class="info">
      <span class="info_fio">Куц Кирилл</span>
      <span class="info_phone">Телефон: +375 29 777-77-77</span>
      <span class="info_adres">Адрес: БГАЭК</span>
      <span class="info_mail">Почта: mail@Mail.com</span>
      <span class="info_date">Дата заказа: 12.34.2020</span>
      <span class="info_coast">Сумма заказа: 6 346.45</span>
    </div>
  </div>
</section>
{% endblock %}